<div class="text-layaut">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Uppercase de:" [subheader]="nombreLower">
            Resultado: {{ nombreLower | uppercase }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="Lowercase de:" [subheader]="nombreUpper">
            Resultado: {{ nombreUpper | lowercase }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="TitleCase de:" [subheader]="nombreCompleto">
            Resultado: {{ nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>


<div class="text-layaut">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipes para mostrar las fechas.
    </p>
</div>


<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Uppercase de:" [subheader]="nombreLower">
            Resultado: {{ nombreLower | uppercase }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="Lowercase de:" [subheader]="nombreUpper">
            Resultado: {{ nombreUpper | lowercase }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="TitleCase de:" [subheader]="nombreCompleto">
            Resultado: {{ nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>